<app-navbar></app-navbar>
<div class="container">

    <br><br><br>
    
      <div id="git" class="">
        <!-- <video class="video rounded-5 object-fit-none border rounded "
        src="https://upload-cdn.careem.com/2023_05_05_Careem_New_Brand_Video_Cutdown_04_1920_X1080_Online_Mix_851c26c68a.mp4"
        type="video/mp4"   preload autoplay ></video> -->
        <img id="img" class="rounded-5" src="assets/speedygo.gif" alt="" width="100%" height="475px" style="border-radius: 12px" >
      </div>
    
      <div id="box3" class="row rounded-5 d-flex" >
        <div id="go" class="col p-3 m-2 rounded-5"> <a href="./go.html"><h1 style="font-weight: bold;">Go</h1><h2 style="font-weight: bold;">anywhere</h2>
          <ul class="link">
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Rides</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Taxl</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Bike</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> CarRental</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> SchoolRides</li>
          </ul><div class="arrow1"><img src="../../../assets/assets/images/Arrow_Right_9944c7222f.png" alt="">  </div></a>
        </div>
        <div id="eat" class="col p-3 m-2 rounded-5"><a href="./eat.html"><h1 style="color: #00493e; font-weight: bold;" >Eat</h1><h2 style="color: #00493e; font-weight: bold;">anytime</h2>
          <ul class="link" style="color: #00493e;">
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Food</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> DineOut</li>
          </ul><div class="arrow"><img src="../../../assets/assets/images/Arrow_Right_9944c7222f.png" alt="">  </div></a>
        </div>
        <div id="get" class="col rounded-5 m-2 p-3"> <a href="./get.html"> <h1 style="font-weight: bold;">Get</h1><h2 style="font-weight: bold;">anythings</h2>
          <ul class="link">
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Supermarkets</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Delivery</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Tickets</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Flowers</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Pharmacy</li>
          </ul><div class="arrow2"><img src="../../../assets/images/Arrow_Right_9944c7222f.png" alt="">  </div></a>
        </div>
        <div id="pay" class="col rounded-5 p-3 m-2"><a href="./pay.html"><h1 style="font-weight: bold;">Pay</h1><h2 style="font-weight: bold;" >anyone</h2>
          <ul class="link">
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Pay</li>
            <li><i class="fa-sharp fa-solid fa-face-smile-wink"></i> Donation</li>
          </ul><div class="arrow"><img src="assets/images/Arrow_Right_9944c7222f.png" alt="">  </div></a>
        </div>
      </div>
      <div id="box4">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div id="Carousel" class="carousel-inner">
    
            <div class="carousel-item active">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem-logo" width="200px">
              <h2 class="p-3">Most members save AED 200+ every month</h2>
              <img src="assets/images/cplus_rebranded_1_b17ac75ce7.png" class="C" alt="..." width="350px">
            </div>
    
            <div class="carousel-item">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem-logo" width="200px">
              <h2 class="p-3">Enjoy free delivery on Quik groceries</h2>
              <img src="assets/images/2cplus_rebranded_2_.png" class="d-block C" alt="..." width="300px">
            </div>
    
            <div class="carousel-item">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px "  alt="careem-logo" width="200px">
              <h2 class="p-3">Get 10% off on laundry</h2>
              <img src="assets/images/cplus_rebranded_3_b3814dc990.png" class="d-block C" alt="..." width="300px">
            </div>
    
            <div class="carousel-item">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem-logo" width="200px">
              <h2 class="p-3">Get 20% off on home cleaning</h2>
              <img src="assets/images/cplus_rebranded_4_c064dc54cf.png" class="d-block C" alt="..." width="300px">
            </div>
    
            <div class="carousel-item">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem-logo" width="200px">
              <h2 class="p-3">Get priority support from our top agents</h2>
              <img src="assets/images/cplus_rebranded_5_3a2f57dd08.png" class="d-block C" alt="..." width="300px">
            </div>
    
            <div class="carousel-item">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem-logo" width="200px">
              <h2 class="p-3">Get unlimited free 45-min bike rides</h2>
              <img src="assets/images/cplus_rebranded_6_1989d714eb.png" class="d-block C" alt="..." width="300px">
            </div>
    
            <div class="carousel-item">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem-logo" width="200px">
              <h2 class="p-3">Get up to 30% off on DineOut</h2>
              <img src="assets/images/cplus_rebranded_7_29b25f2598.png" class="d-block C" alt="..." width="300px">
            </div>
    
            <div class="carousel-item">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem-logo" width="200px">
              <h2 class="p-3">Enjoy free delivery on food</h2>
              <img src="assets/images/cplus_rebranded_8_5c9c438c6c.png" class="d-block C" alt="..." width="300px">
            </div>
    
            <div class="carousel-item">
              <img src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem-logo" width="200px">
              <h2 class="p-3">Get instant 10% back on Hala Taxi & rides</h2>
              <img src="assets/images/cplus_rebranded_9_bd02f89e41.png" class="d-block C" alt="..." width="300px">
            </div>
    
          </div>
    
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
    
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    
        </div>
      </div>
      <br>
      <br><br>
      <br>
      <br><br>
    
      <div id="box5" class="container overflow-hidden">
        <div class="row gx-5">
          <div class="col">
            <div class="p-3">
              <h1>About Us</h1>
              <p>SpeedyGo is a smart and innovative platform designed to simplify urban mobility and enhance local commerce. Our goal is to provide a seamless experience where users can move, shop, and connect effortlessly.</p>
              <button class="btn btn-success">Read more</button>
            </div>
          </div>
          <div class="col">
            <img src="assets/images/About_us_updt_48b263b2f9.png" alt="about page image" width="400px">
          </div>
        </div>
      </div>
      <br><br>
    
      <br>
      <br><br>
    </div>
      <div id="bannerOverflowBG-1561" class="overflowed-bg general">
        <div class="gradient"></div>
    
        <div id="box6" class="container">
          <div class="row gx-5">
            <div class="col text-center p-4">
              <img src="assets/images/Captain_homepage_582e60a230.png" alt="" width="300px">
            </div>
            <div class="col">
              <h1>Captains</h1>
              <p>Drive with Speedy Go and earn with every ride. Choose your own hours, enjoy amazing Captain rewards, and get professional training.</p>
              <button class="btn btn-light">Read more</button>
            </div>
          </div>
        </div>
      </div>
    <br>
    <br><br>

    <div id="box7" class="container overflow-hidden">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3">
            <h1>Engineering at Speedy Go </h1>
            <p> Speedy go is creating cutting-edge technology every day <br> across  tech site the MENAP region, in <br>
              a mission to bui
              ld a lasting tech institution that inspires. </p>
            <button class="btn btn-success">Read more </button></div></div>
        <div class="col text-center p-4">
          <img src="assets/images/Engineering_at_careem_jpg_362a4b3399.png" alt="" width="300px">
        </div>
      </div>
  
  
  
      <div id="box8" class="container overflow-hidden"><div class="row gx-5">
        <div class="col text-center p-4">
          <img src="assets/images/Our_social_impact_jpg_827fcf5f72.png" alt="" width="300px"></div>
        <div class="col">
          <div class="p-3"><h1>Our social impact</h1>
            <p> We believe deeply in driving social and economic progress across the region. We use our app to connect
              customers to the communities that need the most support. </p>
            <button class="btn btn-success">Read more</button>
          </div></div></div>
  
  <br><br><br><br>

    <app-footer></app-footer>