<div class="stats-dashboard">
  <!-- Carte pour les statistiques clients -->
  <div class="stats-card">
    <app-stat-avg-duration-minutes></app-stat-avg-duration-minutes>

  </div>

  <!-- Carte pour les statistiques de véhicules -->
  <div class="stats-card">
    <app-stat-maintenance-vehicle></app-stat-maintenance-vehicle>

  </div>

  <!-- Carte pour la maintenance des véhicules (option pour une carte plus large) -->
  <div class="stats-card wide">
    <app-vehicle-stats-chart></app-vehicle-stats-chart>

  </div>

  <!-- Carte pour la durée moyenne -->
  <div class="stats-card wide">
    <app-customer-stats-component></app-customer-stats-component>
  </div>
</div>
