
<div class="container">


  <div id="link" class="row gx-5 p-4">
    <div class="col">
      <ul><img class="p-2" src="assets/images/speedy_go.png" style="width: 70px" height="70px" alt="careem logo" width="100px">
        <li> <img class="p-2" src="assets/images/app-store.webp" alt="" width="100px"></li>
        <li> <img class="p-2" src="assets/images/google-play.webp" alt="" width="100px"></li>
        <li> <img class="p-2" src="assets/images/apk-download.webp" alt="" width="100px"></li>
      </ul></div>
    <div  class="col">
      <ul class="p-2">Service
        <li> <a href="./go.html"><span class="link2">Go</span></a></li>
        <li><a href="./eat.html"><span class="link2">Eat</span></a></li>
        <li><a href="./get.html"><span class="link2">Get</span></a></li>
        <li><a href="./pay.html"><span class="link2">Pay</span></a></li>
        <li><a href="./index.html"><span class="link2">Speedy Go Plus</span></a></li>
      </ul>
    </div>
    <div  class="col">
      <ul class="p-2">Partners
        <li> Corporate packages</li>
        <li>Restaurant delivery</li>
        <li>B2B delivery</li>
        <li>Pay merchant solutions</li>
      </ul>
    </div>
    <div  class="col">
      <ul class="p-2">Join and team
        <li>About us</li>
        <li> Careers</li>
        <li> Explore open roles</li>
        <li> Why Speedy Go</li>
      </ul>
    </div>
    <div  class="col">
      <ul class="p-2">About us
        <li>Our social impact</li>
        <li>Information security</li>
        <li> Blog</li>
      </ul>
    </div>
  </div>
  <hr>
  <div>
    <footer>
      <ul class="row" >
        <li class="col">All rights reserved. Speedy Go © 2025</li>
        <li class="col">Terms of Service</li>
        <li class="col">Privacy Policy</li>
        <li class="col">Code of Conduct</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </footer>
  </div>
</div>
